<!DOCTYPE html>
<html>
<head>
    <title>Diagon</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
<h1>Diagon</h1>

<div class="controlpanel">

    {% for file in state.seq %}
        {% if file.status == 'next' %}
            {% if loop.index == 2 %}
                <form action="/self" method="POST">
                    <input type="submit" name="selfplot" value="Self plot">
                </form>
            {% endif %}

            <h2>Sequence {{loop.index}}</h2>

            <form action="/getSequence" method="POST"
                  enctype="multipart/form-data"
                  style="margin-top: 10px;">

                FastA formatted sequence: <input type="file" name="file{{loop.index}}"/>
                <br/>
                <input type="submit"  value="Load"/>
            </form>

        {% elif file.status == 'loaded' %}
            <div class="sequence">
                <h2>Sequence {{loop.index}}</h2>
                <h3> {{file.fasta.id}} - {{file.fasta.doc}}</h3>
                <pre>
{{file.fasta.format()}}
                </pre>
            </div>

        {% endif %}
    {% endfor %}
</div>


{% if state.seq.0.status=='loaded' and state.seq.1.status=='loaded' %}
<form action="/dotplot" method="POST"
      style="margin-top: 10px;">
    <div class="controlpanel">
        {% if state.seqtype == 'DNA' %}
            <input type="radio" name="type" value="reverse"/> Reverse-complement sequence 2<br/>
            <input type="radio" name="type" value="forward_backward"/> Forward + Backward plot
        {% endif %}

        <h2>Scoring table</h2>

        {% if state.seqtype == 'DNA' %}
            Scoring tables for {{state.seqtype}} sequences<br/>

            {% for table in state.dnacmp %}
                <input type="radio" name="cmp" value="{{table.loc}}"
                       {% if loop.index0 == 0 %} checked {% endif %} > {{table.name}}<br/>
            {% endfor %}
        {% elif state.seqtype == 'protein' %}
            Scoring tables for {{state['seqtype']}} sequences<br/>

            {% for table in state.procmp %}
                <input type="radio" name="cmp" value="{{table.loc}}"
                       {% if loop.index0 == 0 %} checked {% endif %} > {{table.name}}<br/>
            {% endfor %}
        {% endif %}
        <br/>
        <h2>Plot parameters</h2>
        <input type="text"  size=4 id="window" name="window"
                             pattern="\d*" min="1" value=10> Window length <br/>
        <input type="text"   size=4 id="threshold" name="threshold"
                         value=8> Threshold <br/><br/>
        Mode <br/>
        <input type="radio" name="mode" value='dot' checked> Display matching windows as dots<br/>
        <input type="radio" name="mode" value='line'> Display matching windows as lines<br/><br/>
        <input type="submit"  value="Plot"/>
    </div>
</form>

{% endif %}


<form action="/dotplot" method="POST"
>

</form>

</body>
</html>