<!DOCTYPE html>
<html>
<head>
    <title>Diagon</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
<h1>Diagon</h1>

<div class="controlpanel">

    {% for file in state.seq %}
        {% if file.isloaded %}
            <div class="sequence">
                <h2>Sequence {{loop.index}}</h2>
                <h3> {{file.fasta.id}} - {{file.fasta.doc}}</h3>
                <pre>
{{file.fasta.seq}}
                </pre>
            </div>
        {% else %}

            <h2>Sequence {{loop.index}}</h2>
            <form action="/getSequence" method="POST"
                  enctype="multipart/form-data"
                  style="margin-top: 10px;">

                FastA formatted sequence: <input type="file" name="file{{loop.index}}"/>
                <br/>
                <input type="submit"  value="Load"/>
            </form>
        {% endif %}
    {% endfor %}
</div>



<form action="/dotplot" method="POST"
      style="margin-top: 10px;">
    <div class="controlpanel">

        {% if state.seqtype == 'DNA' %}
            Scoring tables for {{state['seqtype']}} sequences<br/>

            {% for table in state.dnacmp %}
                <input type="radio" name="cmp" value="{{table.loc}}"
                       {% if loop.index0 == 0 %} checked {% endif %} > {{table.name}}<br/>
            {% endfor %}
        {% elif state.seqtype == 'protein' %}
            Scoring tables for {{state['seqtype']}} sequences<br/>

            {% for table in state.procmp %}
                <input type="radio" name="cmp" value="{{table.loc}}"
                       {% if loop.index0 == 0 %} checked {% endif %} > {{table.name}}<br/>
            {% endfor %}
        {% endif %}
        <br/>
        <input type="submit"  value="Plot"/>
    </div>
</form>


<form action="/dotplot" method="POST"
>

</form>

</body>
</html>