<!DOCTYPE html>
<html>
<head>
    <title>Diagon</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <h1>Diagon</h1>

    <div class="controlpanel"></div>
        Sequence 1<br>
        <form action="/getSequence" method="POST"
              enctype="multipart/form-data"
              style="margin-top: 10px;">

            <input type="file" name="file1"/>
            <input type="submit", value="Select"/>
        </form>
        {% if state["s1"]["isloaded"] %}
            <div class="sequence">
                <h3> {{state["s1"]["fasta"].id}} - {{state['s1']['fasta'].doc}}</h3>
                <pre>
{{state["s1"]["fasta"].seq}}
                </pre>
            </div>
    {% endif %}
    </div>

    <div class="controlpanel"></div>
        Sequence 2<br>
        <form action="/getSequence" method="POST"
              enctype="multipart/form-data"
              style="margin-top: 10px;">

            <input type="file" name="file2"/>
            <input type="submit", value="Select"/>
        </form>
        {% if state["s2"]["isloaded"] %}
            <div class="sequence">
                <h3> {{state["s2"]["fasta"].id}} - {{state['s2']['fasta'].doc}}</h3>
                <pre>
{{state["s2"]["fasta"].seq}}
                </pre>
            </div>
    {% endif %}
    </div>


    <form action="/dotplot" method="POST"
          style="margin-top: 10px;">
        <input type="submit", value="Plot"/>
    </form>

</body>
</html>