/* Kollema.css

additional styles  that alter/extend normalize/skeleton
*/

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }
body {
    /* kollema: change base size to 1.5->1.2em, line-height 1.6->1.28 */
    font-size: 1.2em; /* currently ems cause chrome bug misinterpreting rems on body element */
    line-height: 1.28;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
}

a.title:link,
a.title:visited,
a.title:hover,
a.title:active  {
    color: #222;
    text-decoration:none;
}

/* button
overrides skeleton button style (skeleton)
height, line-height: 5rem (38px)
padding: 0 2rem (0 30px)
font-size: 1.1rem (11px)
border: 2px (1px)
border-radius: 8px (4px)
on focus, background-color: #AADDFF (none)
*/
.button,
button,
.menubutton,
menubutton,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 3rem;
  padding: 0 1rem;
  color: #555;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 3rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 8px;
  border: 2px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}
.button:hover,
button:hover,
.menubutton:hover,
menubutton:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
.menubutton:focus,
menubutton:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  background-color: #666;
  color: #EEE;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }

/* Menu Buttons - overrides basic button styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.menubutton,
menubutton {
  /* display: inline-block; */
  height: 2.0rem;
  width: 100%; /* added for menu */
  padding: 0 10px;
  text-align: left;
  font-size: 0.8rem;
  line-height: 2.0rem;
  border-radius: 3px;
  border: 1px solid #bbb;
}

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
    padding: 0.5rem 1.0rem; /* 12px 15px; */
    text-align: left;
    border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
    padding-left: 0;
}
th:last-child,
td:last-child {
    padding-right: 0;
}
/* small table styles */

.sm-narrow {
    /*font-size:0.75em;*/
    min-width:5%;
    width:10%;
    max-width:25%;
}

.sm-medium {
    /* font-size:0.75em; */
    min-width:10%;
    width:20%;
    max-width:50%;
}

.sm-wide {
    /* font-size:0.75em; */
    min-width:10%;
    width:40%;
    max-width:100%;
}

/* selected class for selecting from tables */
.selected {
    border: 2px solid #aaa;
    background-color: #1EAEDB; /* #e8e8e8; */
}

/* -------------------------------------------------------------------------------------------------
Modal dialog box
--------------------------------------------------------------------------------------------------*/
.modal {
    /* box background */
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 35%;
    top: 25%;
    margin:2.5%;
    /* width: 100%; Full width */
    /* height: 100%; Full height */
    /* overflow: auto; Enable scroll if needed */
    /*background-color: #474e5d; */
    background-color: rgba(0,0,0,0.1);
}

.modal-content {
    /* Modal Content/Box */
    background-color: #fefefe;
    margin: 5%;
    padding: 5%;
    border: 1px solid #888;
    /* width: 70%; Could be more or less, depending on screen size */
}

.close {
    /* Close Button (x) */
    position: relative;
    left:65%;
    text-align:right;
    font-size: 30px;
    font-weight: bold;
    color: #FF0000;
}

.close:hover, .close:focus {
    color: #f44336;
    cursor: pointer;
}


